/* COLOR PALETTE
#F9F0ED - whitebrown
#AD9977 - lightbrown
#42352A - brown
#516563 -coolgreen
#5D7487 - bluegreen
*/

/* GLOBAL STYLES
---------------------------*/
body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Carter One', cursive;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 35px;
  margin-top: 0;
}
a {
  color: #5D7487;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 40px;
  overflow: auto;
}

/* HEADER AND FOOTER
---------------------------*/
header, footer {
  background: #42352A;
  color: #AD9977;
}
/* header */
.portrait-img {
  width: 300px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}
header h1, header h2 {
  color: #F9F0ED;
  margin: 0;
}
/* footer */
footer {
  text-align: center;
}
.contact-info a {
  margin: 0 7px 10px;
  display: inline-block;
}
footer h2 {
  margin-bottom: 15px;
}
.contact-info a:hover {
  color: white;
}

/* WORK EXPERIENCE
---------------------------*/
.work {
  background: #AD9977;
}
.work h2 {
  color: #42352A;
}

/* EDUCATION
---------------------------*/
.education {
  background: #516563;
}
.education h2 {
  color: #F9F0ED;
}
