/* Coolors Exported Palette - coolors.co/f9f0ed-ad9977-42352a-516563-5d7487 */

/* HSL */
$color1: hsla(15%, 50%, 95%, 1);
$color2: hsla(38%, 25%, 57%, 1);
$color3: hsla(28%, 22%, 21%, 1);
$color4: hsla(174%, 11%, 36%, 1);
$color5: hsla(207%, 18%, 45%, 1);

/* RGB */
$color1: rgba(249, 240, 237, 1);
$color2: rgba(173, 153, 119, 1);
$color3: rgba(66, 53, 42, 1);
$color4: rgba(81, 101, 99, 1);
$color5: rgba(93, 116, 135, 1);